<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header d-flex align-items-center card-header-danger">
                        <h4 class="card-title mt-0">Compute Servers</h4>
                        <button class=" btn   icon-button ">
                            <i class="material-icons  ">add</i>
                           
                          </button>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th rowspan="2">
                                        CPU 
                                      </th>
                                      <th rowspan="2" >
                                        Class Of Compute 
                                      </th>
                                      <th rowspan="2">
                                          Quantity 
                                      </th>
                                      <th rowspan="2">
                                        vCPU
                                      </th>
                                      <th rowspan="2">
                                        vRAM
                                      </th>
                                      <th rowspan="2">
                                        SFPs
                                      </th>
                                      <th colspan="2">
                                          Basic Compute
                                          <tr>
                                          <td>
                                           vCPU
                                           </td>
                                           <td>
                                           vRAM
                                            </td>
                                           </tr>  
                                       </th>
                                       <th colspan="2">
                                          Basic Compute NG
                                          <tr>
                                          <td>
                                           vCPU
                                           </td>
                                           <td>
                                           vRAM
                                            </td>
                                           </tr>  
                                       </th>
                                       <th colspan="2">
                                          Intensive Compute
                                          <tr>
                                          <td>
                                           vCPU
                                           </td>
                                           <td>
                                           vRAM
                                            </td>
                                           </tr>  
                                       </th>
                                       <th colspan="2">
                                          Servers Spare
                                          <tr>
                                          <td>
                                           Quantity
                                           </td>
                                           <td>
                                           SFPs
                                            </td>
                                           </tr>  
                                       </th>
                                  
                                  
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td >
                                            18
                                          </td>
                                          <td >
                                            Basic
                                          </td>
                                          <td >
                                            2
                                          </td>
                                          <td >
                                            544
                                        </td>
                                          <td>
                                              720
                                          </td>
                                          <td>
                                              12
                                          </td>
                                          <td>
                                              544
                                          </td>
                                          <td>
                                              720
                                          </td>
                                          <td>
                                              0
                                          </td>
                                          <td>
                                              0
                                          </td>
                                          <td>
                                              0
                                          </td>
                                          <td>
                                              0
                                          </td>
                                          <td>
                                              0
                                          </td>
                                          <td>
                                              0
                                          </td>
                                          
                                      </tr>
                                      
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header d-flex align-items-center card-header-danger">
                        <h4 class="card-title mt-0"> Storage Servers</h4>
                        <button class=" btn   icon-button ">
                            <i class="material-icons  ">add</i>
                           
                          </button>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th rowspan="2">
                                        Range 
                                      </th>
                                      <th rowspan="2" >
                                        Class Of Compute 
                                      </th>
                                      <th rowspan="2">
                                          Quantity 
                                      </th>
                                      <th rowspan="2">
                                        Gross Volume
                                      </th>
                                      <th rowspan="2">
                                        Net Volume
                                      </th>
                                      <th rowspan="2">
                                        SFPs
                                      </th>
                                      <th colspan="2">
                                          Performance Storage
                                          <tr>
                                          <td>
                                           Gross Volume
                                           </td>
                                           <td>
                                           Net Volume
                                            </td>
                                           </tr>  
                                       </th>
                                       <th colspan="2">
                                          Capacity Storage
                                          <tr>
                                          <td>
                                            Gross Volume
                                           </td>
                                           <td>
                                            Net Volume
                                            </td>
                                           </tr>  
                                       </th>
                                
                                       <th colspan="2">
                                          Servers Spare
                                          <tr>
                                          <td>
                                           Quantity
                                           </td>
                                           <td>
                                           SFPs
                                            </td>
                                           </tr>  
                                       </th>
                                  
                                  
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td >
                                            2
                                          </td>
                                          <td >
                                            Perfermane Storage Nodes(12disks)
                                          </td>
                                          <td >
                                            0
                                          </td>
                                          <td >
                                            23040
                                        </td>
                                          <td>
                                              5760
                                          </td>
                                          <td>
                                              4
                                          </td>
                                          <td>
                                              23040
                                          </td>
                                          <td>
                                              5760
                                          </td>
                                          <td>
                                              0
                                          </td>
                                          <td>
                                              0
                                          </td>
                                          <td>
                                              0
                                          </td>
                                          
                                          <td>
                                              1
                                          </td>
                                          <td>
                                              4
                                          </td>
                                          
                                      </tr>
                                      
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header d-flex align-items-center card-header-danger">
                        <h4 class="card-title mt-0"> Control and Network Servers</h4>
                        <button class=" btn   icon-button ">
                            <i class="material-icons  ">add</i>
                           
                          </button>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    
                                      <th rowspan="2" >
                                        Class Of Compute 
                                      </th>
                                      <th rowspan="2">
                                          Quantity 
                                      </th>
                                      <th rowspan="2">
                                        SFPs
                                      
                                       
                                         
                                       
                                       <th colspan="2">
                                          Servers Spare
                                          <tr>
                                          <td>
                                           Quantity
                                           </td>
                                           <td>
                                           SFPs
                                            </td>
                                           </tr>  
                                       </th>
                                  
                                  
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td >
                                            Control Node
                                          </td>
                                          <td >
                                            4
                                          </td>
                                          <td >
                                            16
                                          </td>
                                          <td >
                                            0
                                        </td>
                                          <td>
                                              0
                                          </td>
                                          
                                      </tr>
                                      <tr>
                                        <td >
                                          Network Node
                                        </td>
                                        <td >
                                          3
                                        </td>
                                        <td >
                                          18
                                        </td>
                                        <td >
                                          0
                                      </td>
                                        <td>
                                            0
                                        </td>
                                        
                                    </tr>
                                      
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  