<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <th>
                                       
                                    </th>
                                    <th>
                                       
                                    </th>
                                    <th class="green gras">
                                      CAPEX
                                    </th>
                                    <th class="blue gras">
                                      OPEX
                                    </th>
                                    <th>
                                      
                                  </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5" class="centered-cell red gras" >
                                          Hardsware & Build
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="centered-cell red1 gras" >
                                          OIaas
                                        </td>
                                    </tr>
                                        
                                    
                                    <tr>
                                        <td rowspan="8" class="gras">
                                          Extension
                                        
                                        </td>
                                        <td class="yellow">
                                            HW control and Network Nodes
                                        </td>
                                        <td class="green">
                                            0
                                        </td>
                                        <td class="blue">
                                        </td>
                                        <td class="yellow">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            HW Networking
                                        </td>
                                        <td class="green1">
                                            0
                                        </td>
                                        <td class="blue1">
                                        </td>
                                        <td class="yellow1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">
                                            HW compute nodes
                                        </td>
                                        <td class="green">
                                            0
                                        </td>
                                        <td class="blue">
                                        </td>
                                        <td class="yellow">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            HW storage nodes
                                        </td>
                                        <td class="green1">
                                            0
                                        </td>
                                        <td class="blue1">
                                        </td>
                                        <td class="yellow1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">
                                            Delivery costs & HW installation
                                        </td>
                                        <td class="green">
                                            0
                                        </td>
                                        <td class="blue">
                                        </td>
                                        <td class="yellow">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            Build OIaaS
                                        </td>
                                        <td class="green1">
                                            Other
                                        </td>
                                        <td class="blue1">
                                        </td>
                                        <td class="yellow1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">
                                            -Oinnov
                                        </td>
                                        <td class="green">
                                        </td>
                                        <td class="blue">
                                        </td>
                                        <td class="yellow">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            -Other
                                        </td>
                                        <td class="green1">
                                        </td>
                                        <td class="blue1">
                                        </td>
                                        <td class="yellow1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="centered-cell red1 gras" >
                                          Local PaaS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3" class="gras">
                                          No project
                                        
                                        </td>
                                        <td class="yellow">
                                            HW control and Network Nodes
                                        </td>
                                        <td class="green">
                                            0
                                        </td>
                                        <td class="blue">
                                        </td>
                                        <td class="yellow">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            Delivery costs & HW installation
                                        </td>
                                        <td class="green1">
                                            0
                                        </td>
                                        <td class="blue1">
                                        </td>
                                        <td class="yellow1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            Build Local PaaS
                                        </td>
                                        <td class="green1">
                                            0
                                        </td>
                                        <td class="blue1">
                                        </td>
                                        <td class="yellow1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="centered-cell red gras" >
                                          Services
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="centered-cell red1 gras" >
                                          OIaas
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="15" class="gras">
                                        </td>
                                        <td class="yellow">
                                            Release Management
                                        </td>
                                        <td class="green">
                                            
                                        </td>
                                        <td class="blue">
                                            6000
                                        </td>
                                        <td class="yellow">
                                            3 KEuros if RUN activities (L1/L2) is done by GNOCA
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1 gras">
                                            RUN activities (L1 / L2) 
                                        </td>
                                        <td class="green1">
                                            
                                        </td>
                                        <td class="blue1">
                                            GNOCa
                                        </td>
                                        <td class="yellow1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">
                                            -NSSO
                                        </td>
                                        <td class="green">
                                            
                                        </td>
                                        <td class="blue">
                                            0
                                        </td>
                                        <td class="yellow">
                                            To be considered if RUN activities (L1/L2) is done by NSSO, Else 0
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            -MEA ZONE
                                        </td>
                                        <td class="green1">
                                            
                                        </td>
                                        <td class="blue1">
                                            3
                                        </td>
                                        <td class="yellow1">
                                            2,2 KEuros per instance per month, To be considered if RUN activities (L1/L2) is done by GNOCA, Else 0
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">
                                            RUN activities IaaS (L3) & Maintenance
                                        </td>
                                        <td class="green">
                                            
                                        </td>
                                        <td class="blue">
                                            Basic
                                        </td>
                                        <td class="yellow">
                                            Technical support based on capacity nodes (compute, storage, network)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            
                                        </td>
                                        <td class="green1">
                                            
                                        </td>
                                        <td class="blue1">
                                        </td>
                                        <td class="yellow1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">
                                            Training (1 month)
                                        </td>
                                        <td class="green">
                                        </td>
                                        <td class="blue">
                                        </td>
                                        <td class="yellow">
                                            Training on OIaaS (architecture, design, tools) 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            Andvanced Training
                                        </td>
                                        <td class="green1">
                                        </td>
                                        <td class="blue1">
                                        </td>
                                        <td class="yellow1">
                                            (60 for 9 months or 90 for 12 months) if demanded
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            CEPH with RH support
                                        </td>
                                        <td class="green1">
                                            
                                        </td>
                                        <td class="blue1">
                                        </td>
                                        <td class="yellow1">
                                            With RedHat, the licence could be on CAPEX
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">
                                            - Extension
                                        </td>
                                        <td class="green">
                                            
                                        </td>
                                        <td class="blue">
                                            0
                                        </td>
                                        <td class="yellow">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            - Renewal
                                        </td>
                                        <td class="green1">
                                            
                                        </td>
                                        <td class="blue1">
                                            0
                                        </td>
                                        <td class="yellow1">
                                            If initial licences are acquired and validity date will expire in 2024
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">
                                            Openstack ELS Licences
                                        </td>
                                        <td class="green">
                                            
                                        </td>
                                        <td class="blue">
                                        </td>
                                        <td class="yellow">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            Openstack with RH support
                                        </td>
                                        <td class="green1">
                                            
                                        </td>
                                        <td class="blue1">
                                        </td>
                                        <td class="yellow1">
                                            With RedHat, the licence could be on CAPEX
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">
                                            - Extension
                                        </td>
                                        <td class="green">
                                        </td>
                                        <td class="blue">
                                            0
                                        </td>
                                        <td class="yellow">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            - Renewal
                                        </td>
                                        <td class="green1">
                                        </td>
                                        <td class="blue1">
                                            0
                                        </td>
                                        <td class="yellow1">
                                            If initial licences are acquired and validity date will expire in 2024
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="centered-cell red1 gras" >
                                          Local PaaS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4" class="gras">
                                          
                                        
                                        </td>
                                        <td class="yellow">
                                            RUN activities CaaS, PaaS (Mgt Services)
                                        </td>
                                        <td class="green">
                                            
                                        </td>
                                        <td class="blue">
                                            50000
                                        </td>
                                        <td class="yellow">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            Openshift with RH support
                                        </td>
                                        <td class="green1">
                                            
                                        </td>
                                        <td class="blue1">
                                        </td>
                                        <td class="yellow1">
                                            With RedHat, the licence could be on CAPEX
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            - Extension
                                        </td>
                                        <td class="green1">
                                            
                                        </td>
                                        <td class="blue1">
                                            0
                                        </td>
                                        <td class="yellow1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yellow1">
                                            - Renewal
                                        </td>
                                        <td class="green1">
                                            
                                        </td>
                                        <td class="blue1">
                                            0
                                        </td>
                                        <td class="yellow1">
                                            If initial licences are acquired and validity date will expire in 2024
                                        </td>
                                    </tr>
                                         
                                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  