<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header d-flex align-items-center card-header-danger">
                      <h4 class="card-title ">Licenses</h4>
                      <button class=" btn   icon-button ">
                        <i class="material-icons  ">add</i>
                       
                      </button>
                      <p class="card-category"> </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                    Type of License 
                                  </th>
                                  <th>
                                    SKU Prod 
                                  </th>
                                  <th>
                                    Quantity
                                  </th>
                                  <th>
                                    Activation Date
                                  </th>
                                  <th>
                                    Expiraion Date
                                </th>
                                <th>
                                    Provider
                                </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                        Network Node
                                      </td>
                                      <td>
                                        MCT2886
                                      </td>
                                      <td>
                                        3
                                      </td>
                                      <td>
                                        03/04/2023
                                    </td>
                                      <td>
                                        02/04/2025
                                      </td>
                                      <td>
                                        RedHat 
                                      </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
            </div>
            
          
      </div>
  </div>
</div>
