<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center card-header-danger">
                        <h4 class="card-title ">Servers Price </h4>
                        
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive ">
                            <table class="table centered-cell">
                                <thead class=" text-primary">
                                    <th>
                                      Name 
                                    </th>
                                    
                                    
                                    <th>
                                        Unit Price Euro
                                    </th>
                                    <th>
                                        Unit price USD
                                  </th>
                                  <th colspan="2">
                                    <button class=" btn centered-cell  btn-gray btn-sm icon-button " colspan="2" data-toggle="modal" data-target="#myModalnewserver">
                                      <i class="material-icons  ">add</i>
                                     
                                    </button>
                                </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of servers">
                                        <td>
                                          {{a.name}}
                                        </td>
                                        
                                        <td>
                                          {{a.euroPrice}}
                                        </td>
                                        <td >
                                          {{a.usdPrice}}
                                      </td>
                                      <td>
                                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModaldeldelete" >Delete</button>
                                      </td>
                                       <td>
                                        <button class="btn btn-warning btn-sm mx-2" data-toggle="modal" data-target="#myModalupdate"   >Edit</button>
                                      </td>
                                        
                                    </tr>
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModalnewserver">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title centered-cell gras">New Server </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      
                      <!-- Modal Body -->
                      <div class="modal-body">
                        
                        <div class="col-md-6" class="form-outline mb-4">
                          <mat-form-field class="example-full-width">
                          <input matInput  type="text" [(ngModel)]="new.name" [ngModelOptions]="{standalone: true}" placeholder="Name" />
                        </mat-form-field>
                        </div>

                        <div class="col-md-6" class="form-outline mb-4">
                          <mat-form-field class="example-full-width">
                          <input matInput  type="number" [(ngModel)]="new.euroPrice" [ngModelOptions]="{standalone: true}" placeholder="Price (EURO)" />
                        </mat-form-field>
                        </div>

                        <div class="col-md-6" class="form-outline mb-4">
                          <mat-form-field class="example-full-width">
                          <input matInput  type="number" [(ngModel)]="new.usdPrice" [ngModelOptions]="{standalone: true}" placeholder="Price (USD)" />
                        </mat-form-field>
                        </div>

                        
          
                        
                      </div>
                      
                      <!-- Modal Footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-secondary"(click)="addServer()" >ADD</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header d-flex align-items-center card-header-danger">
                      <h4 class="card-title ">Devices Price </h4>
                      
                      <p class="card-category"> </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table centered-cell">
                              <thead class=" text-primary">
                                  <th>
                                    Name 
                                  </th>
                                  
                                  
                                  <th>
                                      Unit Price Euro
                                  </th>
                                  <th>
                                      Unit price USD
                                </th>
                                <th colspan="2">
                                  <button class=" btn centered-cell  btn-gray btn-sm icon-button " colspan="2" data-toggle="modal" data-target="#myModalnewdevice">
                                    <i class="material-icons  ">add</i>
                                   
                                  </button>
                              </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let a of devices">
                                      <td>
                                        {{a.name}}
                                      </td>
                                      
                                      <td>
                                        {{a.euroPrice}}
                                      </td>
                                      <td >
                                        {{a.usdPrice}}
                                    </td>
                                    <td>
                                      <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModaldeldelete" >Delete</button>
                                    </td>
                                     <td>
                                      <button class="btn btn-warning btn-sm mx-2" data-toggle="modal" data-target="#myModalupdate"   >Edit</button>
                                    </td>
                                      
                                  </tr>
                                  
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>
            <div class="modal fade" id="myModalnewdevice">
              <div class="modal-dialog">
                <div class="modal-content">
                
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title centered-cell gras">New Device </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  
                  <!-- Modal Body -->
                  <div class="modal-body">
                    
                    <div class="col-md-6" class="form-outline mb-4">
                      <mat-form-field class="example-full-width">
                      <input matInput  type="text" [(ngModel)]="new.name" [ngModelOptions]="{standalone: true}" placeholder="Name" />
                    </mat-form-field>
                    </div>

                    <div class="col-md-6" class="form-outline mb-4">
                      <mat-form-field class="example-full-width">
                      <input matInput  type="number" [(ngModel)]="new.euroPrice" [ngModelOptions]="{standalone: true}" placeholder="Price (EURO)" />
                    </mat-form-field>
                    </div>

                    <div class="col-md-6" class="form-outline mb-4">
                      <mat-form-field class="example-full-width">
                      <input matInput  type="number" [(ngModel)]="new.usdPrice" [ngModelOptions]="{standalone: true}" placeholder="Price (USD)" />
                    </mat-form-field>
                    </div>

                    
      
                    
                  </div>
                  
                  <!-- Modal Footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary"(click)="addDevice()" >ADD</button>
                  </div>
                  
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  