<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center card-header-danger">
                        <h4 class="card-title ">Servers and Network elements Price </h4>
                        
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                      Type 
                                    </th>
                                    <th>
                                        Technical descriptions 
                                    </th>
                                    
                                    <th>
                                        Unit Price Euro
                                    </th>
                                    <th>
                                        Unit price USD
                                  </th>
                                  <th>
                                    <button class=" btn centered-cell  btn-gray btn-sm icon-button " colspan="2" data-toggle="modal" data-target="#myModalnew">
                                      <i class="material-icons  ">add</i>
                                     
                                    </button>
                                </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                          Network Node
                                        </td>
                                        <td>
                                            descriptions
                                        </td>
                                        <td>
                                          22
                                        </td>
                                        <td class="text-primary">
                                          24,4
                                      </td>
                                      <td>
                                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModaldeldelete" >Delete</button>
                                      </td>
                                       <td>
                                        <button class="btn btn-warning btn-sm mx-2" data-toggle="modal" data-target="#myModalupdate"   >Edit</button>
                                      </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            ACCESS SWITCH Type 1
                                        </td>
                                        <td>
                                            96 ports
                                        </td>
                                        <td>
                                          10
                                        </td>
                                        <td class="text-primary">
                                          11
                                      </td>
                                      <td>
                                          <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModaldeldelete" >Delete</button>
                                        </td>
                                         <td>
                                          <button class="btn btn-warning btn-sm mx-2" data-toggle="modal" data-target="#myModalupdate"   >Edit</button>
                                        </td>
                                        
                                        
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  