<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center card-header-danger">
                        <h4 class="card-title ">Servers and Network elements Price </h4>
                        <button class=" btn   icon-button ">
                            <i class="material-icons  ">add</i>
                           
                          </button>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                      Type 
                                    </th>
                                    <th>
                                        Technical descriptions 
                                    </th>
                                    
                                    <th>
                                        Unit Price Euro
                                    </th>
                                    <th>
                                        Unit price USD
                                  </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                          Network Node
                                        </td>
                                        <td>
                                            descriptions
                                        </td>
                                        <td>
                                          22
                                        </td>
                                        <td class="text-primary">
                                          24,4
                                      </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            ACCESS SWITCH Type 1
                                        </td>
                                        <td>
                                            96 ports
                                        </td>
                                        <td>
                                          10
                                        </td>
                                        <td class="text-primary">
                                          11
                                      </td>
                                        
                                        
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  